[access]
	inheritFrom = Platform-Unrestricted-Projects
[notify "team-vts"]
	email = vts-dev+code_review@google.com
	header = cc
	type = new_changes
	type = submitted_changes
[access "refs/heads/oreo-dev"]
	label-Verified = -1..+1 group Android Maintainers
[access "refs/heads/oreo-mr1-vts-dev"]
	exclusiveGroupPermissions = label-Code-Review
	label-Code-Review = -2..+2 group global-plus2-approvers
	label-Code-Review = -2..+2 group google/android-treble-vts-domain-ninjas@google.com
	label-Code-Review = -2..+1 group Android Maintainers
	label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/oreo-vts-dev"]
	exclusiveGroupPermissions = label-Code-Review
	label-Code-Review = -2..+2 group global-plus2-approvers
	label-Code-Review = -2..+2 group google/android-treble-vts-domain-ninjas@google.com
	label-Code-Review = -2..+1 group Android Maintainers
	label-Code-Review = -1..+1 group Registered Users
[access "refs/heads/pie-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
