service broadcastradio-hal /vendor/bin/hw/android.hardware.broadcastradio@1.1-service
    interface android.hardware.broadcastradio@1.1::IBroadcastRadio default
    class hal
    user audioserver
    group audio
