service vendor.secretkeeper /vendor/bin/hw/android.hardware.secretkeeper-service.nonsecure
    interface aidl android.hardware.secretkeeper.ISecretkeeper/nonsecure
    class hal
    user root
    group root
