service vendor.threadnetwork_hal /apex/com.android.hardware.threadnetwork/bin/hw/android.hardware.threadnetwork-service /apex/com.android.hardware.threadnetwork/etc/threadnetwork-hal.conf
    class hal
    user thread_network
