service vendor.threadnetwork_hal /apex/com.android.hardware.threadnetwork/bin/hw/android.hardware.threadnetwork-service /vendor/etc/threadnetwork/threadnetwork_hal.conf
    class hal
    user thread_network
