# HwBinder IPC from client to server, and callbacks
binder_call(hal_audiogain_client, hal_audiogain_server)
binder_call(hal_audiogain_server, hal_audiogain_client)
