service vendor.vm_capabilities_service /vendor/bin/hw/android.hardware.virtualization.capabilities.capabilities_service-default
  interface aidl android.hardware.virtualization.capabilities.IVmCapabilitiesService/default
  class hal
  disabled
  user nobody
  group nobody
